<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<settings version="1">

    <section id="plugin.video.invidious">

        <!-- Invidious -->
        <category id="invidious" label="40100">

            <!-- Instance -->
            <group id="instance" label="40110">

                <setting id="selectPublicInstance" type="action" label="40111" help="40112">
                    <level>0</level>
                    <data>RunScript($ID,selectPublicInstance)</data>
                    <control type="button" format="action" />
                </setting>

                <setting id="instance.uri" type="string" label="40114">
                    <level>0</level>
                    <default />
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string" />
                </setting>

                <setting id="instance.path" type="string" label="40115">
                    <level>0</level>
                    <default>api/v1</default>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string" />
                </setting>

                <setting id="instance.timeout" type="number" label="40116">
                    <level>0</level>
                    <default>10.0</default>
                    <constraints>
                        <minimum>0.0</minimum>
                        <step>10.0</step>
                        <maximum>120.0</maximum>
                    </constraints>
                    <control type="slider" format="number" />
                </setting>

            </group>

            <group id="regional" label="40120">

                <setting id="selectRegion" type="action" label="40121">
                    <level>0</level>
                    <data>RunScript($ID,selectRegion)</data>
                    <control type="button" format="action" />
                </setting>

                <setting id="regional.region" type="string" label="40124">
                    <level>0</level>
                    <default>US</default>
                    <visible>false</visible>
                    <control type="edit" format="string" />
                </setting>

                <setting id="regional.region.text" type="string" label="40124">
                    <level>0</level>
                    <default>United States</default>
                    <enable>false</enable>
                    <control type="edit" format="string" />
                </setting>

            </group>

        </category>

    </section>

</settings>
